%rebase('base.html', naslov='Avtomobili')



<form class="form-inline" method="post">
   <input class="form-control form-control-sm mr-3 w-25" type="text" placeholder="Išči" aria-label="Search" name="search" style="line-height: cm">
   <i class="fas fa-search" aria-hidden="true"></i>
   
   <button class="submit" type="button">Najdi</button>
</form>

   

<div>
<table>
      <tr>
         <th>ID</th>
         <th>Znamka</th>
         <th>Model</th>
         <th>Gorivo</th>
         <th>Prevoženi km</th>
         <th>Velikost motorja(ccm)</th>
         <th>Kw</th>
         <th>Izklicna cena</th>
      </tr>
      %for (id_avto, znamka,model, gorivo, prevozeni_kilometri, velikost_motorja, kw, cena) in avto:
         <tr>
            <td><a href="/avto/{{id_avto}}/">{{id_avto}}</a></td>
            <td>{{znamka}}</td>
            <td>{{model}}</td>
            <td>{{gorivo}}</td>
            <td>{{prevozeni_kilometri}}</td>
            <td>{{velikost_motorja}}</td>
            <td>{{kw}}</td>
            <td>{{cena}}</td>
         </tr>
      %end
      </table>
   </div>