%rebase('base.html')
<style>
    #podatki{
    width:100%;
    }

    #razsirjene{
    padding: 13px;
    }
</style>

<table cellpading="0" cellspacing="0" border="1">
    <tr>
        <th>Znamka</th>
        <th>Model</th>
        <th>Gorivo</th>
        <th>Prevoženi km</th>
        <th>Velikost motorja(ccm)</th>
        <th>Kw</th>
        <th>Izklicna cena</th>
    </tr>
           <tr>
              <td>{{znamka}}</td>
              <td>{{model}}</td>
              <td>{{gorivo}}</td>
              <td>{{prevozeni_kilometri}}</td>
              <td>{{velikost_motorja}}</td>
              <td>{{kw}}</td>
              <td>{{cena}}</td>
           </tr>
</table>

<table cellpading="0" cellspacing="0" border="1">
    <tr>
        <th>Ponudnik</th>
        <th>Ponujena cena</th>
    </tr>
    %for (ponudnik, ponujena_cena) in ponudbe:
    <tr>
        <td>{{ponudnik}}</td>
        <td>{{ponujena_cena}}</td>
    </tr>
    %end
</table>

<div class="container">
    <form class="form-signin" role="form" method="post" action=".">
            <input type="ponudba" class="form-control" placeholder="Ponudba"
            %if username:
            value="{{ponudba}}"
            %end
            name="ponudba"
            required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Oddaj ponudbo</button>
    </form>
</div>
