%rebase('osnova.html', naslov='Avtomobili')

  <table cellpadding="0" cellspacing="0" border="1">
  <tr>
     <th>Znamka</th>
     <th>Model</th>
     <th>Gorivo</th>
     <th>Prevoženi km</th>
     <th>Velikost motorja(ccm)</th>
     <th>Kw</th>
     <th>Izklicna cena</th>
     <th>Tvoja ponudba</th>
     <th>Oddaja</th>
  </tr>
  %for (znamka,model,gorivo,prevozeni_kilometri,velikost_motorja,kw,cena) in avto:
    <tr>
       <td>{{znamka}}</td>
       <td>{{model}}</td>
       <td>{{gorivo}}</td>
       <td>{{prevozeni_kilometri}}</td>
       <td>{{velikost_motorja}}</td>
       <td>{{kw}}</td>
       <td>{{cena}}</td>
       <td><input type="ocena" class="form-control" placeholder="Nova ponudba"></td>
       <td><button class="btn btn-lg btn-primary btn-block" type="submit">Ponudba</button></td>
    </tr>
  %end
  </table>
