<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AVTOMOBILSKA DRAŽBA
</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />
  
</head>
<body>


  <!-- Header -->
  <div id="header" class="container">
    <div id="logo">
      <h1><a href="#">Avtomobilska dražba</a></h1>
    </div>
    <div id="menu">
      <ul>
        <li><a href="/" accesskey="1" title="">Začetna stran</a></li>
                  <li><a href="/user/{{username}}/" accesskey="2" title="">Profil</a></li>
                  <li><a href="/sporocilo/" accesskey="3" title="">Sporočila</a></li>
                  <li><a href="/cenilci/" accesskey="4" title="">Cenilci</a></li>
                  <li><a href="/logout/" accesskey="5" title="">Odjava</a></li>
      </ul>
    </div>
  </div>
   
<!-- Header Ends Here -->

<!-- Page -->
        
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}
  </style>

  <div>
  <div class="container">
    
    <div class="col-md-6">
      {{!base}}
    </div>
    
<!-- /Page -->

 



    </div> <!-- /container -->
    <hr>
    <footer>&copy; Avtomobilska dražba 2019</footer>
    </div>
  </body>


</head>
</html>