<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Corlate</title>

    <!-- core CSS -->
    <link href="/static/corlate/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/corlate/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/corlate/css/animate.min.css" rel="stylesheet">
    <link href="/static/corlate/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/corlate/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/corlate/css/icomoon.css" rel="stylesheet">
    <link href="/static/corlate/css/main.css" rel="stylesheet">
    <link href="/static/corlate/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<nav class="navbar navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/" accesskey="1" title="">Začetna stran</a></li>
                  <li><a href="/user/{{username}}/" accesskey="2" title="">Profil</a></li>
                  <li><a href="/sporocilo/" accesskey="3" title="">Sporočila</a></li>
                  <li><a href="/cenilci/" accesskey="4" title="">Cenilci</a></li>
                  <li><a href="/logout/" accesskey="5" title="">Odjava</a></li>
      </ul>
            </ul>
        </div>
    </div>
    <!--/.container-->
</nav>
<!--/nav-->
<



<!-- Page -->


<style>
    body  {
      background-image: url("/static/corlate/images/ozadje.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    </style>

        
<style>
  table {
    border-collapse: collapse;
    width: 100%;
    color: white
    
  }

  tr:hover {background-color: black}
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  </style>

  <div>
  <div class="container">
    
    <div class="col-md-6">
      {{!base}}
    </div>
    
	<!-- End Footer Area -->

 


    <!--/#footer-->

    <script src="/static/corlate/js/jquery.js"></script>
    <script src="/static/corlate/js/bootstrap.min.js"></script>
    <script src="/static/corlate/js/jquery.prettyPhoto.js"></script>
    <script src="/static/corlate/js/owl.carousel.min.js"></script>
    <script src="/static/corlate/js/jquery.isotope.min.js"></script>
    <script src="/static/corlate/js/main.js"></script>
</body>


</head>
</html>