%rebase('base.html')

<form class="form-inline" method="post">
    <input class="form-control form-control-sm mr-3 w-25" type="text" placeholder="Išči" aria-label="Search" name="search" style="line-height: cm">
    <button class="submit" type="button">Najdi</button>
 </form>

  <table cellpadding="0" cellspacing="0" border="0">
  <tr>
     <th>ID</th>
     <th>Ime</th>
     <th>Priimek</th>
     <th>Uporabniško ime</th>
     <th>TRR</th>
     <th>Kraj</th>
     <th>Ocena cenilca</th>
     <th>Cena cenilca</th>
  </tr>
  %for (id_oseba,ime,priimek,username,racun,kraj,ocena,cena) in oseba:
    <tr>
      <td><a href="/cenilec/{{id_oseba}}/">{{id_oseba}}</a></td>
      <td>{{ime}}</td>
      <td>{{priimek}}</td>
      <td>{{username}}</td>
      <td>{{racun}}</td>
      <td>{{kraj}}</td>
      <td>{{ocena}}</td>
      <td>{{cena}}</td>
    </tr>
  %end
  </table>
