<!DOCTYPE html>

<html lang="si">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pozabljeno geslo</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/source/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/source/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">

  
  </head>

  <body>

    <div class="container">
      <form class="form-signin" role="form" method="post" action=".">
        <h2 class="form-signin-heading">Avtomobilska dražba</h2>
        %if napaka:
        <div class="alert alert-warning">{{napaka}}</div>
        %end
        <input type="username" class="form-control" placeholder="Uporabniško ime"
               %if username:
               value="{{username}}"
               %end
               name="username"
               required autofocus>
        <input type="password" class="form-control" placeholder="Geslo" name="password" required>
        <input type="password" class="form-control" placeholder="Ponovi geslo" name="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Prijava</button>
      

      </form>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>

</html>