<!DOCTYPE html>

<html lang="si">

  <head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">

    <meta name="author" content="">

  

    <title>Registracija</title>

  


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>

      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

  </head>



  <body>



    <div class="container">

      <form class="form-signin" role="form" method="post" action=".">
        <h2 class="form-signin-heading">Registracija</h2>
        %if napaka:
        <div class="alert alert-warning">{{napaka}}</div>
        %end

        <input type="ime" class="form-control" placeholder="Ime"
              %if ime:
              value="{{ime}}"
              %end
              name="ime"
              required><br>

        <input type="priimek" class="form-control" placeholder="Priimek"
              %if priimek:
              value="{{priimek}}"
              %end
              name="priimek"
              required autofocus><br>

        <input type="rojstvo" class="form-control" placeholder="Rojstvo"
              %if rojstvo:
              value="{{rojstvo}}"
              %end
              name="rojstvo"
              required><br>

        <input type="kraj" class="form-control" placeholder="Kraj"
                %if kraj:
                value="{{kraj}}"
                %end
                name="kraj"
                required><br>

        <input type="racun" class="form-control" placeholder="Racun"
               %if racun:
               value="{{racun}}"
               %end
               name="racun"
               required><br>

        <select type="je_cenilec" class="form-control" name="je_cenilec">
          <option value=TRUE>Sem cenilec</option>
          <option value=FALSE>Nisem cenilec</option>
        </select>
        <br>
              
        <input type="cena" class="form-control" placeholder="Koliko računaš?"
               %if cena:
               value="{{cena}}"
               %end
               name="cena"
               ><br>

        <input type="ocena" class="form-control" placeholder="Oceni se"
        %if ocena:
        value="{{ocena}}"
        %end
        name="ocena"
        ><br>

        <input type="username" class="form-control" placeholder="Uporabnisko ime"
               %if username:
               value="{{username}}"
               %end
               name="username"
               required><br>

        <input type="password" class="form-control" placeholder="Geslo" name="password1" required><br>

        <input type="password" class="form-control" placeholder="Geslo" name="password2" required><br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Registriraj se</button>

        

      </form>

    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript

    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->

  </body>

</html>