%rebase ('base.html', title=username)

<div class="page-header">
<h1>{{username}}</h1>
</h1>
</div>

<div style="overflow-x:auto;">
  <table>
        <tr>
           <th>ID</th>
           <th>Znamka</th>
           <th>Model</th>
           <th>Gorivo</th>
           <th>Prevoženi km</th>
           <th>Velikost motorja(ccm)</th>
           <th>Kw</th>
           <th>Izklicna cena</th>
           <th>Ponujena cena</th>
           <th>Največja ponujena cena</th>
        </tr>
        %for (id_avto, znamka, model, gorivo, prevozeni_kilometri, velikost_motorja, kw, izklicna_cena, ponujena_cena, max_cena) in ponudba:
           <tr>
              <td><a href="/avto/{{id_avto}}/">{{id_avto}}</a></td>
              <td>{{znamka}}</td>
              <td>{{model}}</td>
              <td>{{gorivo}}</td>
              <td>{{prevozeni_kilometri}}</td>
              <td>{{velikost_motorja}}</td>
              <td>{{kw}}</td>
              <td>{{izklicna_cena}}</td>
              <td>{{ponujena_cena}}</td>
              <td>{{max_cena}}</td>
           </tr>
        %end
        </table>
     </div>
